* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  width: 100%;
  height: 100%;
  align-content: f;
}

header {
  margin: 0;
  background-color: darkgray;
  grid-area: header;
}

.portada {
  margin: 0;
  width: 100%;
  height: 300px;
}

h1 {
  text-align: center;
  color: sienna;
}

.descripcion {
  font-size: 30px;
}

aside {
  text-align: center;
  font-size: large;
  grid-area: aside;
  border: 1px black solid;
  width: 100%;
  height: 100%;
  background-color: aqua;
  margin: 0px;
  padding: 10px;
}

.primero {
  width: auto;
  margin: 5px;
  grid-area: primero;
}

.segundo {
  width: auto;
  margin: 2px;
  grid-area: segundo;
}
.tercero {
  width: auto;
  margin: 0px 10px 0px 0px;
  grid-area: tercero;
}
.pheader{
  text-align: center;

}
.art {
  margin: 0;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px black solid;
  grid-area: img;
}

.foto {
  margin: 10px;
  border: 2px solid #444;
}

.art:hover {
  height: 250px;
  transition-duration: 1s;
}

footer {
  grid-area: footer;
  /* width: 100%;
  height: 200px; */
  margin: 0px;
  text-align: center;
  font-size: 30px;
  background-color: coral;
  color: aliceblue;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  /*elimina el subrrallado*/
  text-transform: uppercase;
  /*coloca en MAYUSCULA*/
}
.redes{
  height: 30px;
  text-align: center;
  text-transform: none;
}

.gridPadre {
  display: grid;
  grid-template-columns: 300px 1fr  1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside primero segundo tercero"
    "aside primero segundo tercero"
    "aside primero segundo tercero"
    "footer footer footer footer";
}

@media (max-width: 768px) {
  .gridPadre {
    margin: 0;
    display: grid;
    grid-template-areas:
      "header header"
      "aside primero"
      "aside primero"
      "aside segundo"
      "aside segundo"
      "footer footer"
    ;
  }
}

@media (max-width: 600px) {
  .gridPadre {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "primero"
      "segundo"
      "tercero"
      "footer"
    ;
  }

  aside {
    display: none;
  }
}










/* 
@media (min-width: 800px) and (max-width: 1920px){
   .primero{
    max-width: 601px;
   }
   .segundo{
    width: 600px;
   }
}
@media (min-width: 600px) and (max-width: 1920px){
  .primero{

  }
  .segundo{
   width: 200px;
  }
}
 */
/* .menu {
  background-color: aliceblue;
  height: 22px;
  display: inline-block;
  margin: 0px 50px;
}

h1 {
  color: rgb(241, 7, 7);
  text-align: center;
  padding: 10px;
  font-size: 50px;
}

a {
  margin: 10px;
  height: 100px;
  text-decoration: none;
  /*elimina el subrrallado*/
/* text-transform: uppercase; */
/*coloca en MAYUSCULA*/
/* }

li {
  list-style-type: none;
}
*/